name: Build and Deploy
on:
  # run when the master branch is updated
  push:
    branches:
      - master
  # run every day at 01:00
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-18.04
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Install
        run: npm install @qooxdoo/compiler -g

      - name: Build
        run:  qx deploy --target=build -v

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html
          force_orphan: true
